
.padding-y-base{
    padding-block: var(--padding-y-base);
}
.padding-y-lg{
    padding-block: var(--padding-y-lg);
}
.padding-y-xl{
    padding-block: var(--padding-y-xl);
}

.padding-x-lg{
    padding-inline: var(--padding-x-lg);
}


/* colunas contantes alinhamento de colunas no mobile */
.even-collums{
    display: grid;
    gap: 1rem;
}


.desktop-only{
    display: none;
}

.container{
    --max-width: 375px;
    width: min(var(--max-width), 100% - var(--padding-x-lg) * 2);
    margin-inline: auto;
    border: 1px solid red;
}